* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: 0;
  box-shadow: none !important;
  font-weight: 200;
  list-style: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 992px) {
  .navbar {
    margin-top: 4vh;
    height: 5vh;
  }

  .navbar-brand {
    font-size: 40px !important;
    position: absolute;
    left: 35px;
  }

  .nav-link {
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;

    color: black !important;
  }
  .far {
    margin-right: 50px !important;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: black;
  }
  .nav-icon {
    position: absolute;
    right: 0;
  }

  /* product */

  .main {
    margin-top: 12vh;
    max-height: calc(100vh - 21vh);
  }

  .h1-product {
    margin-top: 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4vw;
  }

  .p-product {
    margin-top: 24px;
  }

  .container-fake {
    max-width: calc(100vw - 12vw);
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 55vh;
  }

  .img-product {
    max-height: calc(100vh - 251px - 180px);
    margin: 0 auto;
    display: flex;
    height: 70vh !important;
  }

  .form-size label {
    width: 55px;
    margin-left: 15px;
    border: solid 1px rgb(119, 119, 119);
    transition: all 0.3s;
    text-align: center;
    cursor: pointer;
    line-height: 55px;
    font-size: 16px;
    font-weight: 700;
  }
  .form-size input[type="radio"] {
    display: none;
  }

  .form-size input[type="radio"]:checked + label {
    background-color: #4e4a4a;
    color: white;
  }

  .form-size-opt {
    margin-top: 28px;
  }

  .form-color {
    margin-top: 48px;
  }

  .form-color input[type="radio"] {
    display: none;
  }

  .form-color input[type="radio"] + label {
    height: 54px;
    width: 54px;
    margin-bottom: 0;

    margin-left: 15px;
    margin-top: 28px;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .form-color input[type="radio"] + label span {
    display: inline-block;
    width: 44px;
    height: 44px;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-left: 4px;
    margin-top: 4px;
  }

  input[type="radio"]:checked + label {
    border: solid 1px black;
  }
  .form-color input[type="radio"]:checked + label {
    -webkit-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    transition: 0.4s linear;
  }

  .bottom {
    background-color: #afafaf;
    height: 15vh;
    margin-top: 9vh;
    max-width: calc(100vw - 12vw);
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .nav-btn {
    border: none;
    background-color: transparent;
    margin-left: 5vw;
    margin-top: 6vh;
    text-transform: uppercase;
    font-weight: 700 !important;
    font-size: 20px !important;
  }


  .bag {
      margin-right: 0 !important;
      margin-top: 0 !important;
      width: 15vw;
      background-color: rgb(197, 174, 174) !important;
      height: 15vh;
      color: white !important;
      border-top: solid 1px #afafaf;
      border-right: solid 1px #afafaf;
  }
  .bag:hover {
      background-color: rgb(123, 192, 171) !important;
      color: black !important;
      transition: 1s;
  }


  .aaa:hover {
    color: white !important;
    transition: 0.5s !important;
  }

  .aaa:hover i {
    color: white !important;
      
    transition: 0.5s !important;
  }
}
